<section class="bg-blue-600 py-4">
    <nav x-data="{show:false}" class="container mx-auto px-6 lg:px-20 flex items-center justify-between flex-wrap">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a href="/"><span class="font-semibold text-xl tracking-tight">Forum</span></a>
        </div>
        <div class="block md:hidden">
            <button @click="show=!show"
                class="flex items-center px-3 py-2 border rounded text-gray-100 border-gray-200 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        <div @click.away="show = false" :class="{ 'block': show, 'hidden': !show }"
            class="w-full block flex-grow md:flex md:justify-end md:w-auto">
            <div>
                <a href="/thread/create"
                    class="block md:inline-block text-sm px-4 py-2 leading-none rounded text-white border-white hover:border-transparent mt-4 md:mt-0">Create
                    Thread</a>
            </div>
        </div>
    </nav>
</section>